<ul class="tsd-hierarchy">
    {{#each types}}
        <li>
            {{#if ../isTarget}}
                <span class="target">{{this}}</span>
            {{else}}
                <Compact>{{__partials__ type}}</Compact>
            {{/if}}

            {{#if @last}}
                <With props=../next>
                    {{__partials__ hierarchy}}
                </With>
            {{/if}}
        </li>
    {{/each}}
</ul>
