// Default light theme
:root {
    --td-color-background: #fdfdfd;
    --td-color-text: #222;
    --td-color-text-aside: #707070;
    --td-color-link: #4da6ff;

    --td-color-menu-divider: #eee;
    --td-color-menu-divider-focus: #000;
    --td-color-menu-label: #707070;

    --td-color-panel: #fff;
    --td-color-panel-divider: #eee;

    --td-color-comment-tag: #707070;
    --td-color-comment-tag-text: #fff;

    --td-color-code-background: rgba(#000, 0.04);

    --td-color-ts: #9600ff;
    --td-color-ts-interface: #647f1b;
    --td-color-ts-enum: #937210;
    --td-color-ts-class: #0672de;
    --td-color-ts-private: #707070;

    --td-color-toolbar: #fff;
    --td-color-toolbar-text: #333;
}
